@{
    ViewBag.Title = "Dice";
}
<div id="wrapper">
    <div style="float: left;">
        <div class="ui-grid-b">
            <div class="ui-block-a"><div><button class="ui-btn ui-mini ui-icon-plus ui-btn-icon-left">50</button></div></div>
            <div class="ui-block-b"><div><button class="ui-btn ui-mini ui-icon-plus ui-btn-icon-left">100</button></div></div>
            <div class="ui-block-c"><div><button class="ui-btn ui-mini ui-icon-plus ui-btn-icon-left">250</button></div></div>
        </div>
        <div class="ui-grid-b">
            <div class="ui-block-a"><div><button class="ui-btn ui-mini ui-icon-plus ui-btn-icon-left">500</button></div></div>
            <div class="ui-block-b"><div><button class="ui-btn ui-mini ui-icon-plus ui-btn-icon-left">1000</button></div></div>
            <div class="ui-block-c"><div><button class="ui-btn ui-mini ui-icon-plus ui-btn-icon-left">3000</button></div></div>
        </div>
        <div class="ui-grid-solo">
            <div class="ui-block-a"><div><button class="ui-btn ui-mini ui-icon-plus ui-btn-icon-left">Score Précedent</button></div></div>
        </div>
        <div class="ui-grid-solo">
            <div class="ui-block-a"><div><button class="ui-btn ui-mini ui-icon-delete ui-btn-icon-left">Clear</button></div></div>
        </div>
        <div class="ui-grid-solo">
            <div class="ui-block-a"><div><button class="ui-btn ui-mini ui-icon-arrow-r ui-btn-icon-right">Joueur suivant</button></div></div>
        </div>
    </div>

</div>
<div class="ui-corner-all">
    <div>
        <h3>Pointages</h3>
    </div>
    <div>
        Stuff
    </div>
</div>
</div>