<div class="dice-main-area" id="dice-main">
    <div class="dice-points-controls">
        <div class="btn-group btn-group-justified">
            <a class="btn btn-default " onclick="Dice.Ui.Accumulate(50)">
                <i class="glyphicon glyphicon-plus-sign hidden-xs"></i> 50
            </a>
            <a class="btn btn-default" onclick="Dice.Ui.Accumulate(100)">
                <i class="glyphicon glyphicon-plus-sign hidden-xs"></i> 100
            </a>
            <a class="btn btn-default" onclick="Dice.Ui.Accumulate(250)">
                <i class="glyphicon glyphicon-plus-sign hidden-xs"></i> 250
            </a>
        </div>
        <div class="btn-group btn-group-justified">
            <a class="btn btn-default" onclick="Dice.Ui.Accumulate(500)">
                <i class="glyphicon glyphicon-plus-sign hidden-xs"></i> 500
            </a>
            <a class="btn btn-default" onclick="Dice.Ui.Accumulate(1000)">
                <i class="glyphicon glyphicon-plus-sign hidden-xs"></i> 1000
            </a>
            <a class="btn btn-default" onclick="Dice.Ui.Accumulate(3000)">
                <i class="glyphicon glyphicon-plus-sign hidden-xs"></i> 3000
            </a>
        </div>
        <a class="btn btn-default btn-block btn-lg" onclick="Dice.Manager.Instance.AccumulateLast()">
            <i class="glyphicon glyphicon-plus-sign hidden-xs"></i> Score Précédent
        </a>
        <br />
        <a class="btn btn-block btn-danger" onclick="Dice.Ui.SetAccumulated(0)">
            <i class="glyphicon glyphicon-remove-sign hidden-xs"></i> Clear
        </a>
        <hr/>
        <strong>Points : </strong><input type="number" id="dice-point-accumulator" min="0" max="20000" class="input-lg" style="margin-bottom: 15px;" />

        <a class="btn btn-lg btn-primary btn-block" id="dice-startbutton" onclick="Dice.Manager.Instance.NextPlayer()">
            <i class="glyphicon glyphicon-ok-sign hidden-xs"></i> Joueur Suivant
        </a>
        <br/>
        <a class="btn btn-warning btn-block" onclick="Dice.Manager.Instance.CancelLastMove()" href="#">
            <span class="glyphicon glyphicon-backward"></span> Annuler Dernier
        </a>
        <!--<a class="btn btn-lg btn-primary btn-block hidden-xs" onclick="Dice.Manager.Instance.NextPlayerAccumulateLast()">
            <i class="glyphicon glyphicon-ok-sign"></i>Joueur Suivant + Précédent
        </a>-->
    </div>
    <div class="dice-scoreboard">
        <div class="row low-pad fill-height" id="dice-scoreboard"></div>
    </div>
</div>
