#dice-main {
    padding-right: 40px;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
    position: relative;
    min-height: 100%;
}

@media (min-width: 1px) {
    body {
        /* Margin bottom by footer height */
        margin-bottom: 30px;
        min-height: 100%;
        padding: 0;
    }

    .footer {
        position: absolute;
        bottom: 0;
        width: 100%;
        /* Set the fixed height of the footer here */
        height: 30px;
        background-color: #f5f5f5;
    }
}

@media (min-width: 992px) {
    body {
        margin-bottom: 60px;
    }

    .footer {
        height: 60px;
    }
}

/* Custom page CSS
-------------------------------------------------- */
/* Not required for template or sticky footer method. */

.container {
    width: auto;
    max-width: 680px;
    padding: 0 15px;
}

.container-fluid {
    margin: 0;
    padding: 0 ;
}

    .container .text-muted {
        margin: 20px 0;
    }

.row.no-pad {
    margin-right: 0;
    margin-left: 0;
}

    .row.no-pad > [class*='col-'] {
        padding-right: 0;
        padding-left: 0;
    }

.row.low-pad {
    margin-right: 5px;
    margin-left: 5px;
}

    .row.low-pad > [class*='col-'] {
        padding-right: 5px;
        padding-left: 5px;
    }

/*Offcanvas*/

.navmenu {
    padding-top: 58px;
}

.navbar {
    display: block;
    text-align: center;
}

.navbar-brand {
    display: inline-block;
    float: none;
}

.navbar-toggle {
    float: right;
    margin-left: 15px;
    display: block !important;
}

.container {
    max-width: 100%;
}

.alert-fixed-bottom {
    margin-bottom: 60px;
}


.navbar {
    left: auto;
    background: none;
    border: none;
    -webkit-box-shadow: none;
    /* ReSharper disable once CssBrowserCompatibility */
    box-shadow: none;
}

/*.dice-scoreboard {
    position: fixed;
    padding-bottom: 60px;
    max-height: 100%;
    overflow-y: auto;
}*/